@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-image: url( "https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;  /* ทำให้ภาพตรึงอยู่กับที่ */

}

